html {
  background-color: rgb(112, 147, 112); 
}

.head {
  margin: 30px;
  font-weight: 800;
}

.type-label {
  margin-right: 28px; 
}
.add-item {
  margin-bottom: 30px; 
}

select.payment-type {
  width: 93px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 147, 112); 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row2 {
  margin-top: 40px;
}

.date {
  margin-right:30px;
}

.amount {
  width: 144px;
}


.add-button {
  margin-top: 20px;
  height: 60px;
  border-radius: 5px;
  color: rgb(159, 255, 208);
  background-color: rgb(91, 140, 230);
  font-weight: 900;
}

.main-table {
  width: 80%;
  margin-top: 30px;
}

.main-table th,
.main-table td {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}

.main-table th {
  background-color: #d3cece;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.main-table tr {
  background-color: antiquewhite;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 147, 112); 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.main-content table {
  margin: 0 auto;
}

.main-table table {
  width: 100%; 
}

.main-table td {
  position: relative;
  text-align: center;
  }

.delete-button {
  height: 30px;
  border-radius: 5px;
  color: rgb(94, 5, 5);
  background-color: rgb(255, 92, 5);
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




